---
title: About us
date: 2018-10-23 22:42:53 +0200
layout: page
order: 2
description: This is a description of about us
jumbotron: "/img/IMG_0025.JPG"

---


{% for pastor in site.data.content.pastors %}
	<div class="modal fade" id="{{pastor.surname}}" tabindex="-1" role="dialog" aria-labelledby="important-msg-label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="important-msg-label">{{pastor.name}}</h4>
	      </div>
	      <div class="modal-body">
	      	<header>
	      		<img src="{{pastor.picture}}">
	      	</header>
	        <p>{{pastor.excerpt}}</p>
	      </div>
	    </div>
	  </div>
	</div>
{% endfor %}

<div class="rows-container column">

	<div class="about-container row center wrap">
		{% for item in site.data.content.about-us %}
			<div class="about-blocks">
				<h2>{{item.name}}</h2>
				<p>{{item.snippet}}</p>
			</div>
		{% endfor %}
	</div>

	
	<div class="pastors">
		<h2>Pastors</h2>
		<div class="pastors-wrapper">
			{% for pastor in site.data.content.pastors %}
			<div class="pastor">
				<a href="" data-toggle="modal" data-target="#{{pastor.surname}}">
					<img src="{{pastor.picture}}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="video-block-container row">
		{% for item in site.data.content.video-block %}
			<div class="video-block">
				<div class="video">
					<iframe type="text/html" src="http://www.youtube.com/embed/{{item.youtubeid}}?enablejsapi=1?rel=0" frameborder="0"></iframe>
				</div>
				<div class="content">
					<h2>{{item.heading}}</h2>
					<p>{{item.content}}</p>
				</div>
			</div>
		{% endfor %}
	</div>

</div>