---
title: Home page
layout: default
order: 0
---
<div class="slider-container">
	<div class="call-to-action">
		{% for item in site.data.sliders.call-to-action %}
			<p>{{item.paragraph}}</p>
			<h2>{{item.heading}}</h2>
			<a href="{{item.link}}" class="button">Read more</a>
		{% endfor %}
	</div>
	<div class="slider">
		{% for slide in site.data.sliders.sliders %}
			<div><img src="{{site.baseurl}}/{{slide.img}}"></div>
		{% endfor %}
	</div>
</div>

<div class="events-container">
	<div class="events-snippets">
		<h2>Next Events</h2>
		{% for event in site.events limit: 3 %}
			<div class="event">
				<span class="short-date">{{event.short-date}}</span>
				<span class="debate">Debate: {{event.debate}}</span>
				<span class="date">{{event.event-date}}</span>
				<a href="{{event.url}}" class="link">MORE INFO &gt;&gt;</a>
			</div>
		{% endfor %}
	</div>
</div>


<section class="welcome-message">
	<h2>WELCOMING YOU HOME</h2>
	<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
</section>


<section class="quick-links">
	{% for link in site.data.content.quick-links limit: 3 %}
		<article>
			<span class="hero"><img src="{{link.hero}}"></span>
			<h3 class="title">{{link.heading}}</h3>
			<p>{{link.paragraph}}</p>
			<a href="{{link.link}}" class="link">READ MORE</a>
		</article>
	{% endfor %}
</section>