---
title: Home page
layout: default
order: ''
short-date: ''
event-date: ''
debate: ''
description: ''
jumbotron: ''
image: ''
date: ''
church: ''
event-name: ''

---
<div class="construction">
	<h5>Website still under construction</h5>
</div>

<div class="slider-container">
	<div class="call-to-action">
		{% for item in site.data.sliders.call-to-action %}
			<p>{{item.paragraph}}</p>
			<h2>{{item.heading}}</h2>
			<!--<a href="{{item.link}}" class="button">Read more</a>-->
		{% endfor %}
	</div>
	<div class="slider">
		{% for slide in site.data.sliders.sliders %}
			<div><img src="{{site.baseurl}}/{{slide.img}}"></div>
		{% endfor %}
	</div>
</div>

<div class="events-container">
	<div class="events-snippets">
		<h2>Next Events</h2>

		{% assign sorted = site.posts | sort: 'date' | reverse %}
		{% for event in sorted limit: 3 %}
			<div class="event">
				<span class="short-date">{{event.short-date}}</span>
				<span class="debate">Event Name: {{event.debate}}</span>
				<span class="date">{{event.event-date}}</span>
				<a href="{{event.url}}" class="link">MORE INFO &gt;&gt;</a>
			</div>
		{% endfor %}
	</div>
</div>


<section class="welcome-message">
	{% for declaration in site.data.content.md %}
	<h2>{{declaration.heading}}</h2>
	<p>{{declaration.paragraph}}</p>
	{% endfor %}
</section>


<section class="quick-links">
	{% for link in site.data.content.quick-links limit: 3 %}
		<article>
			<span class="hero"><img src="{{link.hero}}"></span>
			<h3 class="title">{{link.heading}}</h3>
			<p>{{link.paragraph}}</p>
			<!--<a href="{{link.link}}" class="link">READ MORE</a>-->
		</article>
	{% endfor %}
</section>

{% for item in site.data.content.pre-footer %}
	<section class="pre-footer" style="background-image: url({{item.backgroundImage}});">
		<span class="pre-footer-content">
			<h2>{{item.heading}}</h2>
			<p>{{item.paragraph}}</p>
			<a href="{{item.link}}" class="button">{{item.linkName}}</a>
		</span>
	</section>
{% endfor %}
