* {
	@include border-box;
}

html {

}

.df {
	display: flex;
	&.fd-row {
		flex-direction: row;
	}

	&.fd-column {
		flex-direction: column;
	}

	&.jc-sb {
		justify-content: space-between;
	}

	&.jc-c {
		justify-content: center;
	}

	&.jc-fs {
		justify-content: flex-start;
	}

	&.jc-sa {
		justify-content: space-around;
	}

	&.ac-sb {
		align-content: space-between;
	}

	&.ai-c {
		align-items: center;
	}

	&.ai-fe {
		align-items: flex-end;
	}
}

.rows-container {
	display: flex;
	&.column {
		flex-direction: column;
	}
	.row {
		display: flex;
		&.column {
			flex-direction: column;
			&.center {
				align-items: center;
			}
		}
		&.center {
			justify-content: center;
		}
		&.wrap {
			flex-wrap: wrap;
		}
	}
}

.container {
	@extend .df;
	width: 100%;
	max-width: $site-width;
	margin: 0 auto;
}

.logo {
	@extend .df;
	@extend .ai-c;
	@extend .jc-c;
	width: 100%;
	max-width: 150px;
	img {
		max-width: 100%;
	}
}

p {
  @include rem(margin, 0 0 20px);
  @include rem(padding, 0);
}

.welcome-message {
	width: 100%;
	max-width: $site-width;
	@extend .df;
	@extend .fd-column;
	@extend .ai-c;
	text-align: center;
	@include rem(padding, 20px 20px 30px);
	@include rem(margin, 0 auto 20px);
	h2 {
		font-family: $secondary-font;
		color: $dark-blue;
	}
	p {
		font-family: $base-font;
		@include font-size(13);
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
}

.quick-links {
	@extend .df;
	width: 100%;
	max-width: $site-width;
	@include rem(margin, 0 auto);
	@include rem(padding, 0 0 30px);
	article {
		@extend .df;
		@extend .fd-column;
		@extend .ai-c;
		text-align: center;
		font-family: $base-font;
		width: 100%;
		max-width: 33.3%;
		@include rem(margin-right, 35px);
		@include rem(padding, 0 0 30px);
		background-color: $grey;
		&:last-child {
			margin-right: 0;
		}
		.hero {
			@extend .df;
			@extend .ai-c;
			@extend .jc-c;
			height: 230px;
			width: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.title {
			font-family: $secondary-font;
			color: $dark-blue;
			font-weight: 400;
			width: 100%;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				width: 70px;
				height: 1px;
				bottom: -15px;
				left: 0;
				right: 0;
				margin: auto;
				background-color: rgba($dark-blue, 0.2);
			}
		}
		p {
			@include font-size(13);
			@include rem(padding, 15px);
		}
	}
}

.pre-footer {
	width: 100%;
	height: 400px;
	@extend .df;
	@extend .fd-column;
	@extend .ai-c;
	@extend .jc-c;
	text-align: center;
	color: $white;
	font-family: $secondary-font;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.pre-footer-content {
		width: 100%;
		@extend .df;
		@extend .fd-column;
		@extend .ai-c;
		@extend .jc-c;
		@include rem(padding-bottom, 20px);
		@include rem(margin, 0 auto);
		width: 100%;
		background-color: rgba($black, 0.8);
		h2 {
			width: 100%;
			max-width: $site-width;
			@include rem(padding, 0 20px);
		}
		p {
			width: 100%;
			max-width: $site-width;
			@include rem(padding, 0 20px);
		}
	}
}

footer {
	background-color: $brown;
	color: $grey;
	width: 100%;
	@include rem(padding, 30px 0px);
	section	{
		@extend .df;
		.column {
			flex: 1;
			@include rem(padding, 0px 20px);
			border-right: 1px solid $grey;
			&:last-child {
				border-right: none;
			}
			h2 {
				font-family: $secondary-font;
				@include font-size(22);
			}
			p {
				font-family: $base-font;
				@include font-size(12);
			}
		}
	}
}

.construction {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	color: red;
	text-align: center;
	font-family: $secondary-font;
	font-size: 30px;
	background-color: rgba($black, .8);
	h5 {
		padding: 0;
		margin: 0;
	}
}

.about-container {
	padding: 50px 0px 0px;
	.about-blocks {
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		margin-right: 10px;
		text-align: center;
		padding: 0px 5px;
		width: 100%;
		max-width: 300px;
		&:last-child {
			margin-right: 0px;
		}
		h2 {
			color: $blue;
			@include font-size(20);
			margin-bottom: 25px;
			font-family: $secondary-font;
			&:after {
				content: "";
				display: block;
				height: 1px;
				width: 100px;
				margin: 0 auto;
				transform: translateY(10px);
				background-color: $gold;
			}
		}
		p {
			font-family: $base-font;
			@include font-size(14);
			color: $dark-blue;
		}
	}
}

.video-block-container {
	margin-top: 50px;
	margin-bottom: 50px;
	.video-block {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.video {
			display: flex;
			width: 100%;
			max-width: 50%;
			height: 275px;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			max-width: 50%;
			width: 100%;
			padding-left: 80px;
			h2 {
				color: $blue;
				@include font-size(20);
				margin-bottom: 25px;
				font-family: $secondary-font;
				&:after {
					content: "";
					display: block;
					height: 1px;
					width: 100px;
					margin: 0;
					transform: translateY(10px);
					background-color: $gold;
				}
			}
			p {
				font-family: $base-font;
				@include font-size(14);
				color: $dark-blue;
			}
		}
	}
}