* {
	@include border-box;
}

html {

}

.df {
	display: flex;
	&.fd-row {
		flex-direction: row;
	}

	&.fd-column {
		flex-direction: column;
	}

	&.jc-sb {
		justify-content: space-between;
	}

	&.jc-c {
		justify-content: center;
	}

	&.jc-fs {
		justify-content: flex-start;
	}

	&.jc-sa {
		justify-content: space-around;
	}

	&.ac-sb {
		align-content: space-between;
	}

	&.ai-c {
		align-items: center;
	}

	&.ai-fe {
		align-items: flex-end;
	}
}

.rows-container {
	display: flex;
	&.column {
		flex-direction: column;
	}
	.row {
		display: flex;
		&.column {
			flex-direction: column;
			&.center {
				align-items: center;
			}
		}
		&.center {
			justify-content: center;
		}
		&.wrap {
			flex-wrap: wrap;
		}
	}
}

.container {
	@extend .df;
	width: 100%;
	max-width: $site-width;
	margin: 0 auto;
}

.logo {
	@extend .df;
	@extend .ai-c;
	@extend .jc-c;
	width: 100%;
	max-width: 150px;
	img {
		max-width: 100%;
	}
}

p {
  @include rem(margin, 0 0 20px);
  @include rem(padding, 0);
}

.welcome-message {
	width: 100%;
	max-width: $site-width;
	@extend .df;
	@extend .fd-column;
	@extend .ai-c;
	text-align: center;
	@include rem(padding, 20px 20px 30px);
	@include rem(margin, 0 auto 20px);
	h2 {
		font-family: $secondary-font;
		color: $dark-blue;
	}
	p {
		font-family: $base-font;
		@include font-size(13);
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
}

.quick-links {
	@extend .df;
	width: 100%;
	max-width: $site-width;
	@include rem(margin, 0 auto);
	@include rem(padding, 0 0 30px);
	article {
		@extend .df;
		@extend .fd-column;
		@extend .ai-c;
		text-align: center;
		font-family: $base-font;
		width: 100%;
		max-width: 33.3%;
		@include rem(margin-right, 35px);
		@include rem(padding, 0 0 30px);
		background-color: $grey;
		&:last-child {
			margin-right: 0;
		}
		.hero {
			@extend .df;
			@extend .ai-c;
			@extend .jc-c;
			height: 230px;
			width: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.title {
			font-family: $secondary-font;
			color: $dark-blue;
			font-weight: 400;
			width: 100%;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				width: 70px;
				height: 1px;
				bottom: -15px;
				left: 0;
				right: 0;
				margin: auto;
				background-color: rgba($dark-blue, 0.2);
			}
		}
		p {
			@include font-size(13);
			@include rem(padding, 15px);
		}
	}
}

.pre-footer {
	width: 100%;
	height: 400px;
	@extend .df;
	@extend .fd-column;
	@extend .ai-c;
	@extend .jc-c;
	text-align: center;
	color: $white;
	font-family: $secondary-font;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.pre-footer-content {
		width: 100%;
		@extend .df;
		@extend .fd-column;
		@extend .ai-c;
		@extend .jc-c;
		@include rem(padding-bottom, 20px);
		@include rem(margin, 0 auto);
		width: 100%;
		background-color: rgba($black, 0.8);
		h2 {
			width: 100%;
			max-width: $site-width;
			@include rem(padding, 0 20px);
		}
		p {
			width: 100%;
			max-width: $site-width;
			@include rem(padding, 0 20px);
		}
	}
}

footer {
	background-color: $brown;
	color: $grey;
	width: 100%;
	@include rem(padding, 30px 0px);
	section	{
		@extend .df;
		.column {
			flex: 1;
			@include rem(padding, 0px 20px);
			border-right: 1px solid $grey;
			&:last-child {
				border-right: none;
			}
			h2 {
				font-family: $secondary-font;
				@include font-size(22);
			}
			p {
				font-family: $base-font;
				@include font-size(12);
			}
		}
	}
}

.construction {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	color: red;
	text-align: center;
	font-family: $secondary-font;
	font-size: 30px;
	background-color: rgba($black, .8);
	h5 {
		padding: 0;
		margin: 0;
	}
}

.about-container {
	padding: 50px 0px 0px;
	.about-blocks {
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		margin-right: 10px;
		text-align: center;
		padding: 0px 5px;
		width: 100%;
		max-width: 300px;
		&:last-child {
			margin-right: 0px;
		}
		h2 {
			color: $blue;
			@include font-size(20);
			margin-bottom: 25px;
			font-family: $secondary-font;
			&:after {
				content: "";
				display: block;
				height: 1px;
				width: 100px;
				margin: 0 auto;
				transform: translateY(10px);
				background-color: $gold;
			}
		}
		p {
			font-family: $base-font;
			@include font-size(14);
			color: $dark-blue;
		}
	}
}

.video-block-container {
	margin-top: 50px;
	margin-bottom: 50px;
	.video-block {
		width: 100%;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		.video {
			display: flex;
			width: 100%;
			max-width: 50%;
			height: 275px;
			iframe {
				width: 100%;
				height: 100%;
			}
			img {
				max-width: 100%;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			max-width: 50%;
			width: 100%;
			padding-left: 80px;
			h2 {
				color: $blue;
				@include font-size(20);
				margin-bottom: 25px;
				font-family: $secondary-font;
				&:after {
					content: "";
					display: block;
					height: 1px;
					width: 100px;
					margin: 0;
					transform: translateY(10px);
					background-color: $gold;
				}
			}
			p {
				font-family: $base-font;
				@include font-size(14);
				color: $dark-blue;
			}
		}
	}
}

.content-block {
	width: 100%;
	max-width: $site-width;
	padding: 80px 0px;
	text-align: center;
	h2 {
		color: $blue;
		@include font-size(20);
		margin-bottom: 35px;
		font-family: $secondary-font;
		&:after {
			content: "";
			display: block;
			height: 1px;
			width: 100px;
			margin: 0 auto;
			transform: translateY(10px);
			background-color: $gold;
		}
	}
	p {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		@include font-size(15);
		font-family: $base-font;
	}
}

.event-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $site-width;
	background-color: transparent;
	margin-top: 50px;
	.event {
		display: flex;
		margin-bottom: 50px;
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		.image {
			width: 100%;
			max-width: 100%;
			margin-right: 10px;
			img {
				max-width: 100%;
				@include transitionlin;
				&:hover {
					transform: scale(1.02);
				}
			}
		}
		.info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			max-width: 100%;
			margin-left: 10px;
			padding-right: 10px;
			text-align: center;
			.heading {
				display: flex;
				justify-content: center;
				p {
					padding: 0px 7px;
					margin: 0px 0px 10px;
					color: #012646;
					position: relative;
					font-size: 14px;
					font-family: $base-font;
					&:first-child {
						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							width: 1px;
							height: 80%;
							background-color: #012646;
						}
					}
				}
			}
			h2 {
				padding: 0px;
				margin: 0px 0px 10px;
				color: #012646;
				font-family: $secondary-font;
			}
			.description {
				width: 100%;
				max-width: 400px;
				margin: 0 auto 15px;
				color: #012646;
				font-size: 14px;
				font-family: $base-font;
			}
			.btn-container {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.button {
					background-color: $white;
					border: 1px solid #012646;
					color: #012646;
				}
			}
		}
	}
}


.contact-details {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	min-height: 300px;
	width: 100%;
	.map {
		width: 100%;
		height: 100%;
	}
	.form {
		width: 100%;
		height: 100%;
		padding-left: 15px;
		h2 {
			font-family: $secondary-font;
			margin: 0px 0px 10px;
			padding: 0px;
			color: $blue;
		}
		input {
			margin-bottom: 10px;
			height: 30px;
			padding: 0px 5px;
			border: 1px solid #ccc;
			font-size: 13px;
			outline: 0px;
			font-family: $secondary-font;
		}
		textarea {
			padding: 5px;
			border: 1px solid #ccc;
			font-size: 13px;
			width: 100%;
			height: 140px;
			outline: 0px;
			font-family: $secondary-font;	
		}
		form {
			display: flex;
			flex-direction: column;
			.button {
				border: none;
				margin: 0px;
			}
		}
	}
}


.pastors {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 30px 0px;
	h2 {
		color: $blue;
		font-family: $secondary-font;
	}
	.pastors-wrapper {
		display: flex;
		flex-wrap: wrap;
		.pastor {
			width: 100%;
			max-width: 25%;
			padding: 0px 20px;
			img {
				max-width: 100%;
				border-radius: 100%;
			}
		}
	}
}