.df {
	display: flex;
	&.fd-row {
		flex-direction: row;
	}

	&.fd-column {
		flex-direction: column;
	}

	&.jc-sb {
		justify-content: space-between;
	}

	&.jc-c {
		justify-content: center;
	}

	&.ac-sb {
		align-content: space-between;
	}

	&.ac-c {
		align-content: center;
	}
}

.container {
	@extend .df;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

.logo {
	@extend .df;
	@extend .ac-c;
	@extend .jc-c;
	width: 100%;
	max-width: 120px;
	border: 1px solid #000;
}