$base-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;
$white: #fff;
$black: #000;
$blue: #034c8c;
$dark-blue: #012646;
$light-gold: #d7bd59;
$gold: #e6b143;
$grey: #f7f5f2;
$brown: #2f2e2e;

$site-width: 980px;
$tablet: 768px;
$mobile: 480px;